<div id="memorize">
  <div
    id="memorize-word-container"
    class="row flex-center"
    data-load-path="<%= next_word_path %>"
    data-send-result-path="<%= routes.word_tests_path %>"
  >
  </div>
</div>
<%= javascript 'memorize' %>
