<% unless params.valid? %>
  <div class="row form-errors">
    <div class="col sm-12">
      <p>There was a problem with your submission:</p>
      <ul>
        <% params.error_messages.each do |message| %>
          <li class="form-error"><%= message %></li>
        <% end %>
      </ul>
    </div>
  </div>
<% end %>

<%=
  form_for :word_list, submit_path, method: http_method, id: "word-list-form", params: {}, values: { word_list: word_list } do
    div class: "row" do
      div class: "col sm-12 form-group padding-none" do
        label      :name
        text_field :name, required: true
      end

      div class: "col sm-12 form-group padding-left-none" do
        submit submit_button_text, class: "btn-secondary"
      end
    end
  end
%>
