<form action="https://www.paypal.com/donate" method="post" target="_top" class="donate-form">
  <input type="hidden" name="hosted_button_id" value="AZ8E4MRFWVCWW" />
  <input type="image" src="https://www.paypalobjects.com/en_US/PL/i/btn/btn_donateCC_LG.gif" border="0" name="submit" title="PayPal - The safer, easier way to pay online!" alt="Donate with PayPal button" class="donate-image"/>
  <img alt="" border="0" src="https://www.paypal.com/en_PL/i/scr/pixel.gif" width="1" height="1" class="no-responsive no-border" />
</form>
