<div class="row container container-sm paper">
  <div class="col sm-12">
    <div class="row">
      <div class="col margin-none padding-none">
        <h3 class="margin-bottom-none margin-top-none">Support the project!</h3>
      </div>
    </div>

    <div class="row">
      <div class="col margin-none padding-none">
        <p>
          Flashcard Genius is proudly open source and completely free. I'm developing the project in my free time, because just like you I'm passionate about learning new things and I'd like to make the learning process easier for you as well.
        </p>

        <p>
          If you find Flashcard Genius useful and would like to support it you can do it in two ways:
        </p>

        <p>
          1. You can either help me cover monthly expenses on database and application servers by doing a single or recurring PayPal payment using the button below:
        </p>
      </div>
    </div>

    <form action="https://www.paypal.com/donate" method="post" target="_top" class="donate-form row flex-spaces">
      <input type="hidden" name="hosted_button_id" value="AZ8E4MRFWVCWW" />
      <input type="image" src="https://www.paypalobjects.com/en_US/PL/i/btn/btn_donateCC_LG.gif" border="0" name="submit" title="PayPal - The safer, easier way to pay online!" alt="Donate with PayPal button" class="donate-image"/>
    </form>

    <div class="row">
      <div class="col margin-none padding-none">
        <p>
          2. ...or if you're a programmer we can join forces on GitHub. Visit project's <a href="https://github.com/Bajena/flashcard-genius">repository</a> and feel free to post a pull request or create an issue.
        </p>
      </div>
    </div>

    <hr>

    <div class="row margin-bottom-none padding-bottom-none flex-spaces">
      <div class="col margin-none padding-bottom-none">
        <img
          src="https://media1.giphy.com/media/6tHy8UAbv3zgs/giphy.gif?cid=ecf05e47nedgo5hoxzql7fj37tchhrpeh9pu96sk9gmlua3d&rid=giphy.gif"
          width="250px">
      </div>
    </div>
  </div>
</div>
