<div class="row container container-sm paper">
  <div class="col sm-12">
    <div class="row">
      <div class="col margin-none padding-none">
        <h3 class="margin-bottom-none margin-top-none">Thank you!</h3>
      </div>
    </div>

    <div class="row">
      <div class="col margin-none padding-none">
        <p>
          I really appreciate your support! It really motivates me to work on improving the application 💙
        </p>
      </div>
    </div>

    <hr>

    <div class="row margin-bottom-none padding-bottom-none flex-spaces">
      <div class="col margin-none padding-bottom-none">
        <img
          src="https://media0.giphy.com/media/AeWoyE3ZT90YM/giphy.gif?cid=ecf05e473f7986926326d11e752e9d9cc1364c2226d435cd&rid=giphy.gif"
          width="400px">
      </div>
    </div>
  </div>
</div>
