<footer>
  <div class="row margin-none">
    <div class="col x-sm-12 sm-12 md-6 padding-bottom-none footer-author-info">
      <span class="footer-author-info-text">Created with <i class="fas fa-heart"></i> by @Bajena</span>
    </div>

    <div class="col x-sm-12 sm-12 md-6 footer-social-icons">
      Find me at:
      <a class="footer-social-icon" href="https://github.com/Bajena"><i class="fab fa-wordpress-simple"></i></a>
      <a class="footer-social-icon" href="https://github.com/Bajena"><i class="fab fa-github"></i></a>
      <a class="footer-social-icon" href="https://github.com/Bajena"><i class="fab fa-dev"></i></a>
      <a class="footer-social-icon" href="https://github.com/Bajena"><i class="fab fa-linkedin"></i></a>
      <a class="footer-social-icon" href="https://github.com/Bajena"><i class="fab fa-medium"></i></a>
    </div>
  </div>
</footer>
