<footer>
  <div class="row margin-none">
    <div class="col x-sm-12 sm-12 md-6 padding-bottom-none footer-author-info">
      Created with <i class="fas fa-heart footer-author-info-highlight-hover"></i> by
      <a href="https://mycodeworksiknowwhy.wordpress.com/about-me/">@Bajena</a>
      using <a href="https://www.getpapercss.com/">PaperCSS</a>
      and <a href="http://hanamirb.org/">Hanami.rb</a>
    </div>

    <div class="col x-sm-12 sm-12 md-6 footer-social-icons">
      <%= link_to 'Support the project', routes.donate_path, class: "footer-social-icon" %>
      on <a class="footer-social-icon" href="https://www.paypal.com/donate?hosted_button_id=XHYVMQUG97P7S" title="Support on PayPal"><i class="fab fa-paypal"></i></a>
      or <a class="footer-social-icon" href="https://github.com/Bajena/flashcard-genius" title="Support on GitHub"><i class="fab fa-github"></i></a>
      !
    </div>
  </div>
</footer>
