<footer>
  <div class="row margin-none">
    <div class="col x-sm-12 sm-12 md-6 padding-bottom-none footer-author-info">
      Created with <i class="fas fa-heart footer-author-info-highlight-hover"></i> by
      <a href="https://mycodeworksiknowwhy.wordpress.com/about-me/">@Bajena</a>
      using <a href="https://www.getpapercss.com/">PaperCSS</a>
      and <a href="http://hanamirb.org/">Hanami.rb</a>
    </div>

    <div class="col x-sm-12 sm-12 md-6 footer-social-icons">
      Find me at:
      <a class="footer-social-icon" href="https://mycodeworksiknowwhy.wordpress.com/"><i class="fab fa-wordpress-simple"></i></a>
      <a class="footer-social-icon" href="https://github.com/Bajena"><i class="fab fa-github"></i></a>
      <a class="footer-social-icon" href="https://dev.to/bajena"><i class="fab fa-dev"></i></a>
      <a class="footer-social-icon" href="https://www.linkedin.com/in/jan-bajena"><i class="fab fa-linkedin"></i></a>
      <a class="footer-social-icon" href="https://medium.com/@bajena3"><i class="fab fa-medium"></i></a>
    </div>
  </div>
</footer>
