<nav class="border fixed split-nav">
  <div class="nav-brand">
    <h3><a href="#">FlashCards</a></h3>
  </div>
  <div class="collapsible">
    <input id="collapsible1" type="checkbox" name="collapsible1">
    <button>
    <label for="collapsible1">
        <div class="bar1"></div>
        <div class="bar2"></div>
        <div class="bar3"></div>
      </label>
    </button>
    <div class="collapsible-body">
      <ul class="inline">
        <li><%= link_to '+ New list', routes.new_word_list_path %></li>
        <li><a href="#">My sets</a></li>
        <li><a href="#">Profile</a></li>
      </ul>
    </div>
  </div>
</nav>
