<div class="row container container-sm paper">
  <div class="col sm-12 padding-bottom-none">
    <div class="row flex-spaces">
      <div class="col lg-6 md-8 sm-12">
        <h3 class="margin-bottom-none margin-top-none">Sign up</h3>
      </div>
    </div>

    <% if error_messages.any? %>
      <div class="row form-errors flex-spaces">
        <div class="col lg-6 md-8 sm-12">
          <p>There was a problem with your submission:</p>
          <ul>
            <% error_messages.each do |message| %>
              <li class="form-error"><%= message %></li>
            <% end %>
          </ul>
        </div>
      </div>
    <% end %>

    <div class="row flex-center">
      <div class="col sm-7 md-6">
        <a class="paper-btn google-button" href="<%= routes.google_auth_path %>">
          <img src="/google_logo.png" class="google-logo no-responsive no-border" alt="Google sign-up" />
          Sign up with Google
        </a>
      </div>
    </div>

    <div class="row flex-center margin-bottom-none">
      <p>-&nbsp;or&nbsp;-</p>
    </div>

    <%=
      form_for :user, routes.users_path do

        div class: "row flex-spaces margin-bottom-none" do
          div class: "col sm-7 md-6 padding-top-none" do
            div class: "form-group" do
              label      :email
              email_field :email, class: "input-block"
            end
          end
        end

        div class: "row flex-spaces margin-top-none margin-bottom-none" do
          div class: "col sm-7 md-6" do
            div class: "form-group" do
              label      :password
              password_field :password, class: "input-block"
            end
          end
        end

        div class: "row flex-center" do
          div class: "form-group" do
            submit "Sign up"
          end
        end
      end
    %>

    <p>
      <hr>
    </p>

    <div class="row flex-spaces">
      <p>
        Already have an account? Click <%= link_to "here", routes.login_path %> to sign in.
      </p>
    </div>
  </div>
</div>
