<script>
 function onSignupSubmit(token) {
   document.getElementById("signup-form").submit();
 }
</script>

<div class="row container container-sm paper">
  <div class="col sm-12">
    <div class="row flex-spaces">
      <div class="col lg-6 md-8 sm-12">
        <h3 class="margin-bottom-none margin-top-none">Create an account</h3>
      </div>
    </div>

    <% if error_messages.any? %>
      <div class="row form-errors flex-spaces">
        <div class="col lg-6 md-8 sm-12">
          <p>There was a problem with your submission:</p>
          <ul>
            <% error_messages.each do |message| %>
              <li class="form-error"><%= message %></li>
            <% end %>
          </ul>
        </div>
      </div>
    <% end %>

    <%=
      form_for :user, routes.users_path, id: "signup-form" do

        div class: "row flex-spaces" do
          div class: "col lg-6 md-8 sm-12" do
            div class: "form-group" do
              label      :email
              email_field :email, class: "input-block"
            end
          end
        end

        div class: "row flex-spaces" do
          div class: "col lg-6 md-8 sm-12" do
            div class: "form-group" do
              label      :password
              password_field :password, class: "input-block"
            end
          end
        end

        div class: "row flex-spaces" do
          div class: "col" do
            button "Signup", class: "g-recaptcha", "data-sitekey": "6LeZndsZAAAAAOMjIZH76TejNH4RHynugqhahXTx", "data-callback": "onSignupSubmit"
          end
        end
      end
    %>

    <hr>
    <div class="row flex-spaces">
      <div class="col lg-6 md-8 sm-12">
        <p>
          Already have an account? Click <%= link_to "here", routes.login_path %> to sign in.
        </p>
      </div>
    </div>
  </div>
</div>
