// Responsive breakpoints
$large-screen: 1200px !default;
$medium-screen: 992px !default;
$small-screen: 768px !default;
$xsmall-screen: 480px !default;

html, body {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
}

footer {
  background: black;
  color: white;

  a, .footer-author-info-highlight-hover  {
    color: white;
    background: none;

    &:visited {
      color: white;
    }

    &:hover {
      color: #0071de;
    }
  }

  .footer-author-info {
    @media only screen and (max-width: $medium-screen) {
      text-align: center;
    }
    @media only screen and (min-width: $medium-screen) {
      text-align: left;
    }

    a {
      text-decoration: underline;
    }
  }

  .footer-social-icons {
    @media only screen and (max-width: $medium-screen) {
      text-align: center;
    }
    @media only screen and (min-width: $medium-screen) {
      text-align: right;
    }
  }
}

.main-content {
  flex-grow: 1;
  margin-top: 66px;
}

.form-errors {
  .form-error {
    color: red;
  }
}

.flashcard-title-row {
  margin-bottom: 0 !important;

  .flashcard-title {
    margin-top: 0;
  }
}

.flashcard-column {
  .tabs {
    margin-bottom: 0;

    .content {
      padding-top: 1rem;

      .flashcard-title {
        margin-bottom: 0;

        word-break: break-all;
      }

      .flashcard-example {
        margin-top: 0.5rem;
        margin-bottom: 0;
      }
    }
  }
}

