.main-content {
  margin-top: 66px;
}

.form-errors {
  .form-error {
    color: red;
  }
}

.flashcard-title-row {
  margin-bottom: 0 !important;

  .flashcard-title {
    margin-top: 0;
  }
}

.flashcard-column {
  .tabs {
    margin-bottom: 0;

    .content {
      padding-top: 1rem;

      .flashcard-title {
        margin-bottom: 0;

        word-break: break-all;
      }

      .flashcard-example {
        margin-top: 0.5rem;
        margin-bottom: 0;
      }
    }
  }
}

