.main-content {
  margin-top: 66px;
}

.flashcard-column {
  .tabs {
    margin-bottom: 0;

    .content {
      padding-top: 1rem;

      .flashcard-title {
        margin-bottom: 0;
      }

      .flashcard-example {
        margin-top: 0.5rem;
        margin-bottom: 0;
      }
    }
  }
}

// Overrides, fixes

.tabs {
  input {
    // Fixes https://github.com/papercss/papercss/blob/master/src/components/_tabs.scss
    // by adding ends-with selector instead of exact match.
    @for $num from 1 through 5 {
      &[id$='tab#{$num}']:checked~div[id='content#{$num}'] {
        display: block;
      }
    }
  }

  // https://github.com/papercss/papercss/pull/205/files
  .content {
    flex-basis: 100%;
  }
}
