<div class="row" id="quick-add-word-wrapper">
  <div class="col align-top">
    <div class="card">
      <div class="card-header" id="quick-add-word-form-errors">
      </div>
      <div class="card-body">
        <%=
          form_for :word, routes.words_path, id: "quick-add-word-form", remote: true do
            hidden_field :word_list_id, value: word_list.id
            div class: "row" do
              div class: "col md-3" do
                div class: "form-group" do
                  label      :question
                  text_field :question, class: "input-block", required: true
                end
              end

              div class: "col md-9" do
                div class: "form-group" do
                  label      :question_example
                  text_field :question_example, class: "input-block"
                end
              end

              div class: "col md-3" do
                div class: "form-group" do
                  label      :answer
                  text_field :answer, class: "input-block", required: true
                end
              end

              div class: "col md-9" do
                div class: "form-group" do
                  label      :answer_example
                  text_field :answer_example, class: "input-block"
                end
              end
            end

            div class: "row" do
              div class: "col" do
                submit "Add", "data-disable-with": "Adding...", "data-original-text": "Add"
              end
            end
          end
        %>
      </div>
    </div>
  </div>
</div>
